<div style="margin: 50px; width: 600px">
  <form [formGroup]="form">
    <nz-select
      style="width: 250px"
      formControlName="colaborador"
      [compareWith]="compareColaborador"
      nzAutoFocus
      nzShowSearch
      nzServerSearch
      (nzOnSearch)="onSearch($event)"
      nzAllowClear
      [nzLoading]="isLoadingColaboradores"
      [nzDropdownRender]="renderTemplate"
      (nzScrollToBottom)="onScrollToBottom()"
      nzPlaceHolder="Pesquise o colaborador"
    >
      <nz-option
        *ngFor="let c of colaboradores"
        [nzValue]="c"
        [nzLabel]="c.matricula + ' - ' + c.nomeCompleto"
      >
      </nz-option>
    </nz-select>
    <ng-template #renderTemplate>
      <div style="display: flex; align-items: center; justify-content: center">
        <nz-spin
          *ngIf="isLoadingColaboradores"
          nzSimple
          [nzIndicator]="indicatorTemplate"
        >
        </nz-spin>
        <ng-template #indicatorTemplate>
          <i nz-icon nzType="loading"></i>
        </ng-template>
      </div>
    </ng-template>
  </form>
</div>
